LEARN SERIES AND DATA FRAMES

In [2]:
import numpy as nm
import pandas as pd

SERIES

In [25]:
s = pd.Series(nm.random.randn(5), index=['a','b','c','d','e'])

In [24]:
s

0    0.116193
b   -0.255764
c    0.935701
d    0.849043
e   -0.352869
dtype: float64

In [7]:
d = {'a': 0, }

In [9]:
pd.Series(d)

a    0
dtype: int64

In [20]:
s[:0]

Series([], dtype: float64)

FROM dict of Series or dicts

In [40]:
data = nm.zeros((2,), dtype=[('A', 'i4'),('B', 'f4'), ('C', 'a10')])
data[:] = [(1,2.,'Eugene'), (3,4.,'Maina')]
pd.DataFrame(data)

   A    B          C
0  1  2.0  b'Eugene'
1  3  4.0   b'Maina'